.hero {
    margin-top: calc(-1 * $header);
    background: #194EA4;
    color: #fff;
    padding-top: $header;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-bottom: 4.25rem;
    border-radius: 0 0 2.375rem 2.375rem;

    @media (min-width:$md3) {
        padding-bottom: 6.4rem;
        border-radius: 0 0 3.25rem 3.25rem;
    }

    // .hero__content
    &__content {
        padding-top: rem(135);

        @media (min-width:$md1) {
            padding-top: rem(220);

        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 47, 137, 0.51);
        z-index: -1;
        pointer-events: none;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(25, 78, 164, 0.00) 0%, #194EA4 100%);
        z-index: -1;
        pointer-events: none;
    }

    // .hero__video
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        pointer-events: none;
        object-fit: cover;
    }

    // .hero__title
    &__title {
        font-weight: 300;
        letter-spacing: -0.134rem;
        font-size: 3.25rem;
        line-height: 103.846%;
        max-width: 43rem;

        @media (min-width:$md2) {
            line-height: 97.731%;
            font-size: 4rem;
            max-width: 100%;
        }

        @media (min-width:$md1) {
            font-size: 4.74894rem;
        }
    }

    // .hero__details
    &__details {
        margin-top: 2rem;

        @media (min-width:$md2) {
            margin-top: 6.75rem;
        }
    }

    // .hero__details-wrapper
    &__details-wrapper {
        background: #FFF;
        color: #3E3E3E;
        display: grid;
        gap: 2rem;
        border-radius: 2.375rem;
        padding: rem(45) rem(24) 2.75rem;

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25rem;
        }

        @media (min-width:$md2) {
            border-radius: 3.25rem;
            padding: 6rem rem(42) 3.25rem;

        }
    }

    // .hero__about
    &__about {
        padding-right: 2rem;

        @media (min-width:$md2) {
            padding-right: 2.75rem;

        }
    }

    // .hero__about-title
    &__about-title {
        @media (max-width:$md3) {
            font-size: 2.75rem;
            letter-spacing: -0.0825rem;
        }
    }

    // .hero__about-desc
    &__about-desc {
        margin-top: 1.5rem;
        line-height: 140.909%;
        letter-spacing: -0.02925rem;
        font-size: 1.125rem;

        @media (min-width:$md2) {
            max-width: rem(683);
            margin-top: 2.5rem;
            font-size: 1.375rem;
        }

        @media (min-width:$md0) {
            font-size: 1.46506rem;

        }
    }

    // .hero__about-purpose
    &__about-purpose {
        margin-top: 1.5rem;
        padding-left: 1rem;
        line-height: 140%;
        letter-spacing: -0.02744rem;
        border-left: rem(2) solid #3F50C2;
        font-size: 1rem;

        @media (min-width:$md2) {
            font-size: 1.125rem;
            padding-left: 1.75rem;
            margin-top: 2rem;
            max-width: rem(640);
            line-height: 150%;
        }

        @media (min-width:$md0) {
            margin-top: 2.75rem;
            font-size: 1.25rem;

        }
    }

    // .hero__structure
    &__structure {}

    // .hero__structure-title
    &__structure-title {
        padding-top: rem(7);
    }

    // .hero__structure-list
    &__structure-list {
        display: grid;
        row-gap: 0.73rem;
        gap: 1.69rem;
        margin-top: 1.5rem;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width:$md3) {
            grid-template-columns: auto;
        }

        @media (min-width:$md2) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3.06rem;
            gap: 0.83rem;
            margin-top: 2.81rem;

        }
    }

    // .hero__structure-item
    &__structure-item {

        background: linear-gradient(180deg, #F2F3F8 0%, #FFF 100%);
        counter-increment: num;
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 1rem 0.97025rem 1.125rem;
        border-radius: 1rem;

        @media (min-width:$md2) {
            gap: 0.63rem;
            border-radius: 1.3125rem;
            padding: 1.6875rem 1.3125rem 3.8rem;

        }

        @for $i from 1 through 9 {
            .hero__structure-text {
                &::before {
                    content: "0" counter(num);
                }
            }
        }
    }

    // .hero__structure-text
    &__structure-text {
        line-height: 132%;
        letter-spacing: -0.02744rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &::before {
            content: counter(num);
            color: #0052C3;
            font-size: 0.74919rem;
            line-height: 140%;
            letter-spacing: -0.01644rem;
        }

        @media (min-width:$md2) {
            gap: 1.09rem;
            font-size: rem(18);
        }

        @media (min-width:$md0) {
            font-size: 1.25rem;
        }
    }

    // .hero__structure-icon
    &__structure-icon {
        flex-shrink: 0;
        width: 3rem;

        @media (min-width:$md0) {
            width: 3.30925rem;

        }
    }

    // .hero__numbers
    &__numbers {
        margin-top: rem(50);

        @media (min-width:$md2) {
            margin-top: rem(105);
        }

    }

    // .hero__numbers-list
    &__numbers-list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    // .hero__number
    &__number {
        padding-block: 0.56rem;

        &:nth-child(2) {
            border-left: rem(1) solid rgba(255, 255, 255, 0.21);

            padding-inline: 0.875rem;

            @media (min-width:$md2) {
                padding-inline: 3rem;

            }
        }

        &:nth-child(3) {
            border-left: rem(1) solid rgba(255, 255, 255, 0.21);
            padding-left: 0.875rem;

            @media (min-width:$md2) {
                padding-left: 1.5rem;

            }
        }

        @media (min-width: $md3) {
            @for $i from 1 through 3 {
                &:nth-child(3n + #{$i}) {
                    transition-delay: $i * 0.25s;
                }
            }
        }

    }

    // .hero__number-value
    &__number-value {
        color: #FFF;
        font-weight: 300;
        line-height: 83.487%;
        letter-spacing: -0.123rem;
        font-size: 3.5rem;

        @media (min-width:$md3) {
            letter-spacing: -0.1875rem;
            font-size: 4.5rem;
            line-height: 76.923%;
        }

        @media (min-width:$md2) {
            font-size: 5rem;
        }

        @media (min-width:$md0) {
            font-size: 5.79113rem;

        }
    }

    // .hero__number-subtitle
    &__number-subtitle {
        color: rgba(255, 255, 255, 0.58);
        font-weight: 500;
        line-height: 93.416%;
        text-transform: uppercase;
        font-size: 0.875rem;
        margin-top: 1rem;
        letter-spacing: -0.00613rem;

        @media (min-width:$md3) {
            line-height: 125%;
            letter-spacing: -0.00938rem;
            margin-top: 1.5rem;
            font-size: 1rem;

        }
    }

}

.testing-lab {
    padding: 3.75rem 0 2.12rem;

    @media (min-width:$md3) {
        padding: rem(111) 0 2.12rem;

    }

    // .testing-lab__container
    &__container {}

    // .testing-lab__title
    &__title {}

    // .testing-lab__slider
    &__slider {
        overflow: visible;
        margin-top: rem(30);

        @media (min-width:$md3) {
            margin-top: rem(40);

        }
    }
}

.testing-lab-card {
    overflow: hidden;
    border-radius: 1.125rem;

    @media (min-width:$md2) {
        border-radius: 2rem;

    }

    &.swiper-slide {
        width: rem(332);
        height: 23.5rem;

        @media (min-width:$md2) {
            width: 100%;
            height: 36.5625rem;

        }
    }

    &:nth-child(3n + 1) {
        background: #0455B0;
    }

    &:nth-child(3n + 2) {
        background: #282C79;
    }

    &:nth-child(3n + 3) {
        background: #027595;
    }

    @media (min-width: $md3) {
        @for $i from 1 through 3 {
            &:nth-child(3n + #{$i}) {
                transition-delay: $i * 0.25s;
            }
        }
    }

    // .testing-lab-card__image
    &__image {
        mix-blend-mode: soft-light;
    }

    // .testing-lab-card__content
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        padding: rem(20) rem(50) rem(24) rem(20);

        @media (min-width:$md2) {
            padding: 2rem 3rem 2rem 2rem;

        }
    }

    // .testing-lab-card__title
    &__title {
        line-height: 92.308%;
        letter-spacing: 0.02306rem;
        font-size: 1.5rem;


        @media (min-width:$md2) {
            font-size: 2rem;
        }

        @media (min-width:$md0) {
            font-size: 2.4375rem;

        }
    }

    // .testing-lab-card__desc
    &__desc {
        line-height: 130%;
        letter-spacing: -0.01306rem;

        @media (min-width:$md2) {
            line-height: 141.176%;
            font-size: 1.0625rem;
            letter-spacing: -0.0195rem;

        }
    }
}

.measurements {
    padding: rem(46) 0 rem(50);

    @media (min-width:$md2) {
        padding: rem(60) 0 rem(79);

    }

    // .measurements__container
    &__container {}

    // .measurements__title
    &__title {}

    // .measurements__list
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.45rem;
        margin-top: rem(30);

        @media (min-width:$md2) {
            gap: 1rem;
            margin-top: rem(50);

        }
    }

    // .measurements__item
    &__item {

        background: #F2F3F8;
        display: flex;
        align-items: center;

        color: #283650;
        font-size: 0.875rem;
        line-height: 120%;
        letter-spacing: -0.0125rem;
        border-radius: 0.79469rem;
        padding: 0.75rem 0.625rem;

        & span {
            display: flex;
            align-items: center;
            gap: rem(8);

            @media (min-width:$md3) {
                gap: rem(18);
            }

            &::before {

                flex-shrink: 0;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-start;
                background: #E1E4F4;
                color: #0052C3;
                width: 1.375rem;
                height: 1.375rem;
                font-size: 0.65rem;

                @media (min-width:$md3) {
                    width: 2.625rem;
                    height: 2.625rem;
                    font-size: 1rem;
                }

                @extend %ic, .icon-arrow;
            }
        }



        @media (min-width:$md5) {
            @for $i from 1 through 2 {
                &:nth-child(2n + #{$i}) {
                    transition-delay: $i * 0.25s;
                }
            }
        }

        @media (min-width: $md3) {
            line-height: 115%;
            padding: 1.6875rem 1.09375rem 1.6875rem 1.25rem;
            font-size: 1.125rem;
            border-radius: 1.75rem;
            letter-spacing: -0.02744rem;

        }

        @media (min-width:$md2) {
            font-size: 1.25rem;
        }
    }
}

.electrical-engineering-lab {
    border-radius: 3.25rem 3.25rem 0 0;
    background: #F2F3F8;
    padding: rem(65) 0 rem(96);

    @media (min-width:$md2) {
        padding: rem(130) 0 rem(164);

    }

    // .electrical-engineering-lab__container
    &__container {
        display: grid;
        gap: 3.75rem;

        @media (min-width:$md3) {
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .electrical-engineering-lab__main
    &__main {}

    // .electrical-engineering-lab__title
    &__title {}

    // .electrical-engineering-lab__list
    &__list {
        margin-top: rem(36);
        line-height: 143.75%;
        letter-spacing: -0.02744rem;
        display: flex;
        flex-direction: column;
        gap: rem(22);
        font-size: 1rem;
        max-width: 31.5rem;

        @media (min-width:$md3) {
            line-height: 115%;
            margin-top: rem(30);
            font-size: 1.125rem;

        }

        @media (min-width:$md2) {
            margin-top: rem(60);
            gap: rem(30);
            font-size: 1.25rem;
        }

        & li {
            display: flex;
            align-items: center;
            gap: rem(25);

            @media (min-width:$md3) {
                gap: rem(25);

            }

            &::before {

                height: rem(23);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #0052C3;
                align-self: flex-start;
                font-size: rem(28);

                @media (min-width:$md3) {
                    font-size: 2.25rem;
                }

                @extend %ic, .icon-arrow-long;
            }
        }
    }

    // .electrical-engineering-lab__benefits
    &__benefits {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    // .electrical-engineering-lab__benefit
    &__benefit {
        display: flex;

        align-items: center;
        background: #FFF;
        color: #283650;
        border-radius: 1rem;
        padding: 1.5rem 1.4375rem 1.5rem 1.5rem;
        gap: 1.5rem;

        @media (min-width:$md3) {
            gap: 2rem;
            padding: 2.2rem 1.4375rem 2.2rem 2rem;
            border-radius: 1.5rem;

        }
    }

    // .electrical-engineering-lab__benefit-icon
    &__benefit-icon {
        width: 4.25rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width:$md2) {
            width: 5.52563rem;
            height: 5.52563rem;

        }
    }

    // .electrical-engineering-lab__benefit-text
    &__benefit-text {
        letter-spacing: -0.02744rem;
        line-height: 143.75%;
        max-width: 29rem;
        width: 100%;

        @media (min-width:$md2) {
            line-height: 115%;
            font-size: 1.25rem;

        }
    }
}

.gallery {

    background: #194EA4;
    color: #FFF;
    padding: rem(60) 0 rem(88);
    border-radius: 2.375rem 2.375rem 0 0;
    margin-top: rem(-38);


    @media (min-width:$md3) {
        margin-top: rem(-52);
        border-radius: 3.25rem 3.25rem 0 0;
    }

    @media (min-width:$md2) {
        padding: rem(100) 0 rem(162);

    }

    // .gallery__container
    &__container {}

    // .gallery__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .gallery__title
    &__title {}

    // .gallery__controls
    &__controls {
        display: flex;
        gap: rem(15);
    }

    // .gallery__prev
    &__prev {}

    // .gallery__next
    &__next {}

    // .gallery__slider
    &__slider {
        overflow: visible;
        margin-top: 2.75rem;

        @media (min-width:$md3) {
            margin-top: 3rem;

        }
    }

    // .gallery__slide
    &__slide {
        position: relative;
        display: flex;
        height: auto;
        width: 26.875rem;

        @media (min-width:$md3) {
            width: 40rem;
        }

        @media (min-width:$md2) {
            width: 61.4375rem;

        }
    }

    // .gallery__image
    &__image {}

    // .gallery__text
    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15.75rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
        align-content: end;
        color: #FFF;
        line-height: 127.273%;
        letter-spacing: -0.02744rem;

        padding: rem(16) rem(16);

        @media (min-width:$md3) {
            padding: rem(20) rem(30);
            font-size: 1.125rem;
        }

        @media (min-width:$md2) {
            padding: rem(40) rem(50);
            font-size: 1.375rem;

        }
    }
}