.footer {
    background-image: url("@img/footer-decor.jpg");
    background-color: #fff;
    color: #3E3E3E;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: rem(52) rem(52) 0 0;
    margin-top: rem(-52);
    padding: 6rem 0 rem(68);

    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
    }

    // .footer__contacts
    &__contacts {}

    // .footer__contacts-title
    &__contacts-title {
        font-size: 4.5rem;
        line-height: 100.9%;
        letter-spacing: -0.135rem;
    }

    // .footer__contacts-info
    &__contacts-info {
        margin-top: rem(35);
        color: #2E3235;
        font-size: 1.25rem;
        line-height: 140%;
        letter-spacing: -0.02806rem;
    }

    // .footer__contacts-email
    &__contacts-email {
        margin-top: 0.25rem;
        font-size: 2.32888rem;
        line-height: 120%;
        letter-spacing: 0.03069rem;
        display: inline-block;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #194EA4;
            }
        }
    }

    // .footer__contacts-copyright
    &__contacts-copyright {
        margin-top: rem(30);
        color: #9B9DA2;
        font-size: 1rem;
        line-height: 120.871%;
    }

    // .footer__side
    &__side {
        max-width: 27.5rem;
    }

    // .footer__menu
    &__menu {
        padding-top: 1rem;
    }

    // .footer__menu-list
    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(23);
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.0195rem;
    }

    // .footer__menu-item
    &__menu-item {}

    // .footer__menu-link
    &__menu-link {
        transition: color 0.3s ease;

        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.0195rem;

        @media (any-hover: hover) {
            &:hover {
                color: #194EA4;
            }
        }
    }

    // .footer__address
    &__address {
        margin-top: rem(62);
        color: #9B9DA2;
        font-size: 1.125rem;
        line-height: 144.444%;
        letter-spacing: -0.0195rem;
    }

    // .footer__policy
    &__policy {
        margin-top: rem(36);
        color: #9B9DA2;
        font-size: 1rem;
        line-height: 120.871%;
        display: inline-block;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #194EA4;
            }
        }
    }
}