.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $ui-index-6;
	padding: rem(34) 0;


	&.open-menu {}


	// .header__container
	&__container {
		max-width: rem(1537);
	}

	// .header__wrapper
	&__wrapper {
		padding: rem(22.5) rem(30);
		min-height: rem(71);
		border-radius: 1rem;
		background: rgba(0, 0, 0, 0.18);
		color: #fff;
		backdrop-filter: blur(rem(13));
		-webkit-backdrop-filter: blur(rem(13));
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__logo
	&__logo {
		margin-right: auto;
	}

	// .header__menu
	&__menu {}

	// .header__email
	&__email {
		margin-left: rem(67);
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.01em;

		&::before {
			width: 1.62131rem;
			height: 1.62131rem;
			font-size: 0.86344rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 70.57463rem;
			background: rgba(255, 255, 255, 0.17);
			backdrop-filter: blur(rem(2.25));
			-webkit-backdrop-filter: blur(rem(2.25));
		}
	}

	// .header__menu-toggler
	&__menu-toggler {}

	// .header__menu
	&__menu {}


}

.menu {

	// .menu__content
	&__content {}

	// .menu__navbar
	&__navbar {}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: -0.01rem;
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {}

	// .menu__email
	&__email {
		@media (min-width:$md3) {
			display: none;
		}
	}
}




.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin-left: auto;
	color: $accent;

	z-index: 11;
	transition: all 0.3s ease;
	padding: rem(5);

	@media (min-width:$md3) {
		display: none;
	}


	& span {
		display: block;
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;

		padding: rem(2) 0;

		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
			margin: auto;
		}
	}

	.header.open-menu & {

		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease;

			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease;
			}

			&:first-child {
				transform: translateY(rem(3));


				&::before {
					transform: rotate(-135deg);
				}
			}


			&:last-child {
				transform: translateY(rem(-3));


				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}