// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Onest";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 959.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1494); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА
$accent: #194EA4;

// Z-Index

$header: var(--header-height, #{rem(105)});

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
// @import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

.hero {
    margin-top: calc(-1 * $header);
    background: #194EA4;
    color: #fff;
    padding-top: $header;
    padding-bottom: 6.4rem;
    border-radius: 0 0 3.25rem 3.25rem;
    overflow: hidden;
    position: relative;
    z-index: 1;

    // .hero__content
    &__content {
        padding-top: rem(220);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 47, 137, 0.51);
        z-index: -1;
        pointer-events: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(25, 78, 164, 0.00) 0%, #194EA4 100%);
        z-index: -1;
        pointer-events: none;
    }

    // .hero__video
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -2;
        pointer-events: none;
    }


    // .hero__title
    &__title {
        font-size: 4.74894rem;
        font-weight: 300;
        line-height: 97.731%;
        letter-spacing: -0.134rem;
        padding-left: rem(45);
    }

    // .hero__details
    &__details {
        margin-top: 6.75rem;
        border-radius: 3.25rem;
        background: #FFF;
        color: #3E3E3E;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem rem(42) 3.25rem;
        gap: 1.25rem;
    }

    // .hero__about
    &__about {
        padding-right: 2.75rem;
    }

    // .hero__about-title
    &__about-title {}

    // .hero__about-desc
    &__about-desc {
        margin-top: 2.5rem;
        font-size: 1.46506rem;
        line-height: 140.909%;
        letter-spacing: -0.02925rem;
        max-width: rem(683);
    }

    // .hero__about-purpose
    &__about-purpose {
        margin-top: 2.75rem;
        font-size: 1.25rem;
        line-height: 150%;
        letter-spacing: -0.02744rem;
        padding-left: 1.75rem;
        border-left: rem(2) solid #3F50C2;
        max-width: rem(640);
    }

    // .hero__structure
    &__structure {}

    // .hero__structure-title
    &__structure-title {
        padding-top: rem(7);
    }

    // .hero__structure-list
    &__structure-list {
        margin-top: 2.81rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3.06rem;
        gap: 0.83rem;
    }

    // .hero__structure-item
    &__structure-item {
        border-radius: 1.3125rem;
        background: linear-gradient(180deg, #F2F3F8 0%, #FFF 100%);
        padding: 1.6875rem 1.3125rem 3.8rem;
        counter-increment: num;
        display: flex;
        justify-content: space-between;
        gap: 0.63rem;

        @for $i from 1 through 9 {
            .hero__structure-text {
                &::before {
                    content: "0" counter(num);
                }
            }
        }
    }

    // .hero__structure-text
    &__structure-text {

        font-size: 1.25rem;
        line-height: 132%;
        letter-spacing: -0.02744rem;
        display: flex;
        flex-direction: column;
        gap: 1.09rem;

        &::before {
            content: counter(num);
            color: #0052C3;
            font-size: 0.74919rem;
            line-height: 140%;
            letter-spacing: -0.01644rem;
        }
    }

    // .hero__structure-icon
    &__structure-icon {
        width: 3.30925rem;
        flex-shrink: 0;
    }

    // .hero__numbers
    &__numbers {
        margin-top: rem(105);
        display: flex;
        justify-content: space-between;
        padding: 0 rem(110) 0 rem(45);
    }

    // .hero__number
    &__number {
        padding-block: 0.56rem;

        &:nth-child(2) {
            padding-inline: 3rem;
            border-left: rem(1) solid rgba(255, 255, 255, 0.21);
        }

        &:nth-child(3) {
            border-left: rem(1) solid rgba(255, 255, 255, 0.21);
            padding-left: 1.5rem;
        }


    }

    // .hero__number-value
    &__number-value {
        color: #FFF;
        font-size: 5.79113rem;
        font-weight: 300;
        line-height: 76.923%;
        letter-spacing: -0.1875rem;
    }

    // .hero__number-subtitle
    &__number-subtitle {
        margin-top: 1.5rem;
        color: rgba(255, 255, 255, 0.58);
        font-size: 1rem;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -0.00938rem;
        text-transform: uppercase;
    }

}